
body {
  /*background-color: yellow;*/
  /*padding: 0 10%;*/
  padding: 0;
  margin: 0;
}

.crimsonTide {
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #642b73, #c6426e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 60px 10% 70px 10%;
  margin: 0;
}

.mainHeading {
  font-family: 'Quicksand', sans-serif;;
  font-size: 33px;
  text-align: center;
  color: white;
  /*margin-top: 60px;*/
}

.subHeading {
  font-family: 'Quicksand', sans-serif;;
  font-size: 26px;
  text-align: center;
  color: white;
}


ol {
  margin-top: 0;
  width: 50%;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  /*color: #2d7ad8;*/
  color: #82adff;
  margin-bottom: 19px;
  margin-left: 45px;
}

li:first-child {
  margin-top: 20px;
}

.listItem{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  margin-left: 5px;
  color: white;
  opacity: .8;
}

.phoneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  font-family: 'Quicksand', sans-serif;;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: darkslategrey;
}

.processHeader {
  /*color: #2d7ad8;*/
  color: #82adff;
  font-family: 'Quicksand', sans-serif;;
  font-size: 27px;
  margin-bottom: 40px;
}

.themeHeader {
  color: #C6426E;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: darkslategrey;
}

.themeContainer, .problemContainer, .interviewContainer, .processContainer, .solutionContainer, .wireframesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.processContainer {
  margin-top: 60px;
  justify-content: center;
}

.postitImg{
 height: 320px;
 min-width: 250px;
 width: 250px;
 background-image: url(weconnect-2.jpg);
 background-size: 100% 100%;

}

.problemDesc {
  padding-left: 10%;
}

.postitcompImg {
  height: 350px;
  width: 450px;
  background-image: url(weconnect-1.jpg);
  background-size: 100% 100%;
  min-width: 450px;
}

.interviewDesc {
  width: 70%;
}

.walkinghomeImg {
  height: 335px;
  min-width: 500px;
  width: 500px;
  background-image: url('weconnect-4.jpg');
  background-size: 100% 100%;
}

.themeP {
  padding-left: 5%;
}

.badIdeaImg {
  height: 300px;
  width: 400px;
  background-image: url(weconnect-3.jpg);
  background-size: 100% 100%;
  min-width: 450px;
}

.badIdeaDesc {
  padding-right: 10%;
  color: white;
}

.lowFi {
  height: 380px;
  width: 500px;
  min-width: 500px;
  background-image: url(weconnect-5.jpg);
  background-size: 100% 100%;
  margin: 20px;
}

.highFi {
  height: 380px;
  width: 500px;
  min-width: 500px;
  background-image: url(weconnect-6.jpg);
  background-size: 100% 100%;
  margin: 20px;
}

.phone {
  height: 600px;
  width: 300px;
  background-image: url('phone.png');
  background-size: 100% 100%;
  z-index: 1;
  /*margin-top: 5px;*/

}

.mockUp {
  position: relative;
  margin: 0;
  padding: 0;
  height: 461px;
  width: 257px;
  z-index: 2;
  top: 70px;
  left: 22px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.statusbar {
  height: 15px;
  width: 257px;
  background-image: url(statusbar.jpg);
  background-size: 100% 100%;
}

.navBar {
  height: 40px;
  width: 257px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.profile {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  background-image: url(profile.png);
  background-size: 100% 100%;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  line-height: 28px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #2d7ad8;
}

.menu {
  height: 30px;
  width: 30px;
  background-image: url(menu.png);
  background-size: 100% 100%;
  opacity: .7;
}

.myStatusBar {
  height: 80px;
  width: 257px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 10px lightgrey;
  margin-bottom: 20px;
}

.myPic {
  height: 60px;
  width: 60px;
  background-image: url(alex.jpg);
  background-size: 100% 100%;
}

.myName {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: darkslategrey;
}

.myStatusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  height: 28px;
  width: 65px;
  border-radius: 15px;
  background-color: lightgrey;
  margin-bottom: 3px;
  border: solid 2px lightgrey;
  box-sizing: border-box;
}

.sliderOn {
  background-color: white;
}

.sliderBall {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  top: -2px;
  left: -2px;
  transition-property: left, background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.sliderBallOn {
  background-color: #14e82d;
  left: 39px;
}

.status {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: darkslategrey;
}

.statusOn {
  color: #14e82d;
}

.friends {
  height: 240px;
  width: 227px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 10px lightgrey;
}

.friendLine {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #EAEAEA;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friendLine:last-child {
  border-bottom: none;
}

.friendLineOne:hover {
  cursor: pointer;
}

.friendProfile {
  height: 45px;
  width: 45px;
  background-size: 100% 100%;
}

.profileOne {
  background-image: url('port2.jpg');
}

.profileTwo {
  background-image: url('profile-pic-1.jpg');
}

.profileThree {
  background-image: url('profile-pic-2.jpg');
}

.profileFour {
  background-image: url('profile-pic-3.jpg');
}

.friendName {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #2d7ad8;
}

.friendNameTwo {
  animation: nameColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}

.friendNameThree {
  animation: nameColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.friendNameFour {
  animation: nameColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes nameColorChange {
  0% {color: #2d7ad8;}
  49% {color: #2d7ad8;}
  50% {color: darkslategrey;;}
  99% {color: darkslategrey;}
  100% {color: #2d7ad8;}
}

.friendStatus {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #14e82d;;
}

.friendStatusTwo{
  animation: statusColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}

.friendStatusThree{
  animation: statusColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.friendStatusFour{
  animation: statusColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes statusColorChange {
  0% {background-color: #14e82d;}
  49% {background-color: #14e82d;}
  50% {background-color: darkgrey;}
  99% {background-color: darkgrey;}
  100% {background-color: #14e82d;}
}

.popupContainer {
  visibility: visible;
  animation: popupAppears;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes popupAppears {
  0% {visibility: hidden;}
  49% {visibility: hidden;}
  50% {visibility: visible;}
  99% {visibility: visible;}
  100% {visibility: hidden;}
}

.popupCorner {
  width: 0px;
  height: 0;
  position: relative;
  top: -207px;
  margin: auto;
  border-bottom: solid 20px rgba(123, 167, 224,.9);
  z-index: 4;
  border-top: solid 25px transparent;
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
}

.popup {
  height: 180px;
  width: 227px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  /*box-shadow: 0 0 10px lightgrey;*/
  position: relative;
  top: -207px;
  background-color: rgba(123, 167, 224,.9);
}

.option {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  border-bottom: solid 1px white;
  width: 227px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  background-color: rgba(123, 167, 224,.1);
}

.option:hover {
  background-color: rgba(255, 255, 255,.2);
  cursor: pointer;
}

.telegram {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  padding: 70px 10% 50px 10%;
}

.sunkissed {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 10% 50px 10%;
}

.interviewHeader {
  color: #1c92d2;
}

.interviewP {
  color: white;
  padding-right: 10%;
}

.chitty {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 70px 10% 50px 10%;
}

.relay {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 10% 50px 10%;
}

.solutionHeader {
  color: white;
}

.maldives{
  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 10% 50px 10%;
}

.prototypingContainer {
  display: flex;
  flex-direction: column;
}

.wireframesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emeraldWater {
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 10% 50px 10%;
}

.emeraldHeader {
  color: white;
}

.emeraldDesc {
  color: white;
}

@media screen and (max-width: 1001px) {
  .crimsonTide {
    padding: 60px 10% 150px 10%;
  }

  .mainHeading {
    font-size: 55px;
  }

  .subHeading {
    font-size: 30px;
  }

  .themeContainer, .problemContainer, .interviewContainer, .processContainer, .solutionContainer, .wireframesContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
  }

  .processContainer {
    margin-top: 100px;
  }


  ol {
    margin-top: 0;
    width: 50%;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    /*color: #2d7ad8;*/
    color: #82adff;
    margin-bottom: 19px;
    margin-left: 45px;
  }

  li:first-child {
    margin-top: 20px;
  }

  .listItem{
    font-family: 'Karla', sans-serif;
    font-size: 36px;
    margin-left: 5px;
    color: white;
    opacity: .8;
  }

  .phoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header {
    font-family: 'Quicksand', sans-serif;;
    font-size: 46px;
    margin-bottom: 40px;
    text-align: center;
    color: darkslategrey;
  }

  .processHeader {
    /*color: #2d7ad8;*/
    color: #82adff;
    font-family: 'Quicksand', sans-serif;;
    font-size: 56px;
    margin-bottom: 150px;
    width: 100%;
  }

  .themeHeader {
    color: #C6426E;
  }

  p {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: darkslategrey;
  }

  .postitImg{
   height: 820px;
   min-width: 650px;
   width: 650px;
   background-image: url(weconnect-2.jpg);
   background-size: 100% 100%;

 }

 .problemDesc {
  padding-left: 10%;
}

.postitcompImg {
  height: 550px;
  width: 700px;
  background-image: url(weconnect-1.jpg);
  background-size: 100% 100%;
  min-width: 700px;
}

.interviewDesc {
  width: 70%;
}

.walkinghomeImg {
  height: 535px;
  min-width: 700px;
  width: 700px;
  background-image: url('weconnect-4.jpg');
  background-size: 100% 100%;
}

.themeP {
  padding-left: 5%;
}

.badIdeaImg {
  height: 550px;
    width: 700px;
  background-image: url(weconnect-3.jpg);
  background-size: 100% 100%;
  min-width: 700px;
}

.badIdeaDesc {
  padding-right: 10%;
  color: white;
}

.lowFi {
  height: 480px;
    width: 700px;
  min-width: 700px;
  background-image: url(weconnect-5.jpg);
  background-size: 100% 100%;
  margin: 20px;
}

.highFi {
  height: 480px;
    width: 700px;
  min-width: 700px;
  background-image: url(weconnect-6.jpg);
  background-size: 100% 100%;
  margin: 20px;
}

.phone {
  height: 900px;
  width: 500px;
  background-image: url('phone.png');
  background-size: 100% 100%;
  z-index: 1;
  /*margin-top: 5px;*/
}

.mockUp {
  position: relative;
  height: 689px;
  width: 427px;
  z-index: 2;
  top: 105px;
  left: 37px;
}

.statusbar {
  height: 27px;
  width: 427px;
}

.navBar {
  height: 65px;
  width: 427px;
  padding: 5px 10px;
}

.profile {
  height: 40px;
  width: 40px;
  margin-top: 4px;
  background-image: url(profile.png);
  background-size: 100% 100%;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #2d7ad8;
}

.menu {
  height: 50px;
  width: 50px;
  background-image: url(menu.png);
  background-size: 100% 100%;
  opacity: .7;
}

.myStatusBar {
  height: 110px;
  width: 427px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.myPic {
  height: 90px;
  width: 90px;
}

.myName {
  font-size: 44px;
}

.slider {
  height: 40px;
  width: 95px;
  border-radius: 20px;
  background-color: lightgrey;
  margin-bottom: 3px;
  border: solid 2px lightgrey;
  box-sizing: border-box;
}

.sliderBall {
  height: 39px;
  width: 39px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  top: -2px;
  left: -2px;
  transition-property: left, background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.sliderBallOn {
  left: 54px;
}

.status {
  font-size: 20px;
}

.friends {
  height: 420px;
  width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 10px lightgrey;
}

.friendLine {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #EAEAEA;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friendLine:last-child {
  border-bottom: none;
}

.friendLineOne:hover {
  cursor: pointer;
}

.friendProfile {
  height: 90px;
  width: 90px;
  background-size: 100% 100%;
}

.profileOne {
  background-image: url('port2.jpg');
}

.profileTwo {
  background-image: url('profile-pic-1.jpg');
}

.profileThree {
  background-image: url('profile-pic-2.jpg');
}

.profileFour {
  background-image: url('profile-pic-3.jpg');
}

.friendName {
  font-size: 27px;
}

.friendStatus {
  height: 40px;
  width: 40px;
}

.popupCorner {
  position: relative;
  top: -337px;
}

.popup {
  height: 300px;
  width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  /*box-shadow: 0 0 10px lightgrey;*/
  position: relative;
  top: -338px;
  background-color: rgba(123, 167, 224,.9);
}

.option {
  font-size: 26px;
  color: white;
  width: 227px;
  height: 60px;
  line-height: 50px;
}

.interviewP {
  color: white;
  padding-right: 0;
}

.themeP {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.interviewDesc {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.problemDesc {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.badIdeaDesc {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.prototypingDesc {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.emeraldDesc {
  /*width: 100%;*/
  font-size: 24px;
  font-family: 'Karla', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

/*.telegram, .sunkissed, .relay, .emeraldWater, .maldives, .chitty {
  width: 100%;
}*/



}